<div mat-button class="logo-container" name="home" routerLink="/home">
  <img alt="Logo" src="/assets/images/logo.svg"/>
</div>
<h2 class="header-home">Configurações de pagamento</h2>
<div class="buttons-container">
  <a class="confirm-link" (click)="goToComponentB()">
    <img alt="Ícone de cartão de crédito" src="/assets/icons/plus.svg"/>
    Inserir método de pagamento
 </a>
</div>

<div class="buttons-container">
  <a routerLink ="/addpayment/insertdebit" class="confirm-link" (click)="createCar(car)">
    <img alt="Ícone de cartão de crédito" src="/assets/icons/edit.svg"/>
    Atualizar método de pagamento
  </a>
</div>

<div class="buttons-container">
  <a class="confirm-link" (click)="createCar(car)">
    <img alt="Ícone de cartão de crédito" src="/assets/icons/trash.svg"/>
    Remover método de pagamento 
  </a>
</div>


  <div class="selection" > 
    <h3>Pagamento Padrão:</h3>
    <div>
       <select class="options" [(ngModel)]="mainPay" disableRipple>
          <option *ngFor="let pagamento of user.metodos_de_pagamento.metodosPagamento" [value]="pagamento.name">
            {{pagamento.name}}
          </option>
       </select>
    </div>   
  </div>







