<div class="buttons-container">
  <a routerLink ="/addpayment/insertcredit" class="confirm-link" (click)="createCar(car)">
    <img alt="Ícone de cartão de crédito" src="/assets/icons/credit-card.svg"/>
    Cartão de crédito
 </a>
</div>

<div class="buttons-container">
  <a routerLink ="/addpayment/insertdebit" class="confirm-link" (click)="createCar(car)">
    <img alt="Ícone de cartão de crédito" src="/assets/icons/credit-card.svg"/>
    Cartão de Débito
  </a>
</div>

<div class="buttons-container">
  <a class="confirm-link" (click)="createCar(car)">
    <img alt="Ícone de cartão de crédito" src="/assets/icons/key.svg"/>
    Pix 
  </a>
</div>

<div class="buttons-container">
  <a class="confirm-link" (click)="createCar(car)">
    <img alt="Ícone de cartão de crédito" src="/assets/icons/key.svg"/>
    PicPay
  </a>
</div>

<div class="buttons-container">
  <a class="confirm-link" (click)="createCar(car)">
    <img alt="Ícone de cartão de crédito" src="/assets/icons/key.svg"/>
    PayPal
  </a>
</div>
