<app-bar></app-bar>
<div class="container">
  <h2 class="header-home">Finalização de Pedido</h2> 
  <div class="block-1">
    <h2 class="left">Restaurante: {{curOrder.restaurant}}</h2>
    <h2 class="left">Produtos:</h2>
    <div class="product-list">
      <div class="product" *ngFor="let product of curOrder.products" >
        <span>{{product.name}}</span>
        <div class="input-block">
          <input placeholder="0" type="number" step="1" min="0" max="10" [(ngModel)]="product.quantity" oninput="updateAmount()" required>
        </div>
      </div>
    </div>
  </div>
  <div class="block-2">
    <div class="infos">
      <!-- valor do pedido -->
      <!-- endereço -->
      <label>Endereço: {{curOrder.address}}</label>
      <label>Valor do pedido: {{curOrder.amount}}</label>
    </div>  
    <div class="block-payment">
      <select class="options" [(ngModel)]="paymentMethod" disableRipple>
        <option *ngFor="let payment of data.paymentMethods" [value]="payment.name">
          {{payment.name}}
        </option>
     </select>
     <img alt="Adicionar metodo de pagamento" src="/assets/icons/plus.svg"/>
    </div>   
  </div>    
  <div class="block-3">
        <!-- input de escrever o nome do cupom -->
        <div class="input-block coupon">
          <input placeholder="Cupom" required >
          <div class="icon">
            <img *ngIf="curOrder.coupon.name == ''" alt="Adicionar cupom" src="/assets/icons/plus.svg" (click)="insertCoupon()"/>
            <img *ngIf="curOrder.coupon.name != ''" alt="Excluir cupom" src="/assets/icons/trash.svg" (click)="removeCoupon()"/>
          </div>
        </div>
  </div>
  <div class="buttons-container">
    <a class="pink-link" (click) = confirmOrder()>
      <img alt="Finalizar pedido" src="/assets/icons/check.svg"/>
      Finalizar pedido
    </a>
    <a class="back-link" (click)="back()">
       <img alt="Ícone de seta para esquerda" src="/assets/icons/arrow-left.svg"/>
       Voltar
    </a>
  </div>
</div>
<!-- botao de finalizar pedido -->
