<app-bar></app-bar>
<div class="selection" > 
  <h3>Método a ser removido:</h3>
  <div>
     <select class="options" id ="mySelect" [(ngModel)]="mainName" disableRipple>
        <option *ngFor="let pagamento of user.metodos_de_pagamento.metodosPagamento" [value]="pagamento.name">
          {{pagamento.name}}
        </option>
     </select>
  </div>   
</div>

<div class="buttons-container">
  <a class="confirm-link" (click)="deletePay()">
     <img alt="Ícone de cartão de débito" src="/assets/icons/trash.svg"/>
     Remover método
  </a>
</div>
